/* .header{
    color: white;
} */

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
  }
  
/* .MuiInputBase-input {
  color: white;
} */

.sort-by-dropdown {
  /* color: white; */
  background-color: transparent;
}
