.card{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
    margin-top: 3.2rem;
    background-color: var(--dark-aluminium);

}

.card-content{
    background-color: var(--black);
}

.rating-box{
    background-color: var(--dark-aluminium);
    padding: 1.8rem;
    width: 100%;
}

.rating {
    color: white;
    background-color: #635dff;
}

.text{
    color: white;
}

.info-box{
    background-color: var(--dark-aluminium);
    padding: 1.8rem;
    width: 275px;
    height: 100%;
}

.upvote-downvote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .upvote-button, .downvote-button {
    color: #888888;
  }
  
  .upvote-button:hover, .downvote-button:hover {
    color: #555555;
  }
  
  .upvote-count, .downvote-count {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
  

